version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: postgres_strivexp_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      #- ./init:/docker-entrypoint-initdb.d  # optional: for auto-loading SQL files
#    networks:
#      - pgnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:

#networks:
#  pgnet:
#    driver: bridge

